<a href="https://colab.research.google.com/github/sivaa2308/ML-Projects/blob/main/Notebooks/ml2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
tit= sns.load_dataset('titanic')

In [ ]:
tit

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
tit.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
# If you want your model to know which rows had missing age before
tit['age_missing'] = tit['age'].isnull().astype(int)   # do this BEFORE filling

In [ ]:
tit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  age_missing  891 non-null    int64
dtypes: bool(2), category(2), float64(2), int64(5), object(5)
memory usage: 87.6+ KB

In [ ]:
tit.shape

(891, 16)

In [ ]:
tit[tit.isna().any(axis=1)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_missing
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True,1
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True,0
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False,0
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,1
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,0

In [ ]:
tit.drop('deck',axis=1,inplace=True)

In [ ]:
print(tit.groupby(['sex','class']))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7c3afd97d6d0>

/tmp/ipython-input-753943607.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(tit.groupby(['sex','class']))

In [ ]:
tit['age'] = tit.groupby(['sex','class'])['age'].transform(lambda x: x.fillna(x.median()))
tit=tit.dropna(axis=0)

/tmp/ipython-input-3894132751.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tit['age'] = tit.groupby(['sex','class'])['age'].transform(lambda x: x.fillna(x.median()))

In [ ]:
tit.shape

(889, 15)

In [ ]:
tit

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,age_missing
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False,0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False,0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True,0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False,0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True,0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True,0
888,0,3,female,21.5,1,2,23.4500,S,Third,woman,False,Southampton,no,False,1
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True,0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True,0

In [ ]:
tit=pd.get_dummies(tit,columns=['sex','class','embarked','who'],drop_first=True)
tit

,survived,pclass,age,sibsp,parch,fare,adult_male,embark_town,alive,alone,age_missing,sex_male,class_Second,class_Third,embarked_Q,embarked_S,who_man,who_woman
0,0,3,22.0,1,0,7.2500,True,Southampton,no,False,0,True,False,True,False,True,True,False
1,1,1,38.0,1,0,71.2833,False,Cherbourg,yes,False,0,False,False,False,False,False,False,True
2,1,3,26.0,0,0,7.9250,False,Southampton,yes,True,0,False,False,True,False,True,False,True
3,1,1,35.0,1,0,53.1000,False,Southampton,yes,False,0,False,False,False,False,True,False,True
4,0,3,35.0,0,0,8.0500,True,Southampton,no,True,0,True,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,True,Southampton,no,True,0,True,True,False,False,True,True,False
887,1,1,19.0,0,0,30.0000,False,Southampton,yes,True,0,False,False,False,False,True,False,True
888,0,3,21.5,1,2,23.4500,False,Southampton,no,False,1,False,False,True,False,True,False,True
889,1,1,26.0,0,0,30.0000,True,Cherbourg,yes,True,0,True,False,False,False,False,True,False
890,0,3,32.0,0,0,7.7500,True,Queenstown,no,True,0,True,False,True,True,False,True,False

In [ ]:
tit.columns.values

array(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare',
       'adult_male', 'embark_town', 'alive', 'alone', 'age_missing',
       'sex_male', 'class_Second', 'class_Third', 'embarked_Q',
       'embarked_S', 'who_man', 'who_woman'], dtype=object)

In [ ]:
tit.drop(['embark_town','alive'],inplace=True,axis=1)

In [ ]:
tit

,survived,pclass,age,sibsp,parch,fare,adult_male,alone,age_missing,sex_male,class_Second,class_Third,embarked_Q,embarked_S,who_man,who_woman
0,0,3,22.0,1,0,7.2500,True,False,0,True,False,True,False,True,True,False
1,1,1,38.0,1,0,71.2833,False,False,0,False,False,False,False,False,False,True
2,1,3,26.0,0,0,7.9250,False,True,0,False,False,True,False,True,False,True
3,1,1,35.0,1,0,53.1000,False,False,0,False,False,False,False,True,False,True
4,0,3,35.0,0,0,8.0500,True,True,0,True,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,True,True,0,True,True,False,False,True,True,False
887,1,1,19.0,0,0,30.0000,False,True,0,False,False,False,False,True,False,True
888,0,3,21.5,1,2,23.4500,False,False,1,False,False,True,False,True,False,True
889,1,1,26.0,0,0,30.0000,True,True,0,True,False,False,False,False,True,False
890,0,3,32.0,0,0,7.7500,True,True,0,True,False,True,True,False,True,False

In [ ]:
tit.columns.values

array(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare',
       'adult_male', 'alone', 'age_missing', 'sex_male', 'class_Second',
       'class_Third', 'embarked_Q', 'embarked_S', 'who_man', 'who_woman'],
      dtype=object)

In [ ]:
X=tit.drop('survived',axis=1)
X=X.astype(int)
Y=tit['survived']

In [ ]:
print(X.shape, Y.shape)

(889, 15) (889,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(711, 15) (178, 15) (711,) (178,)

In [ ]:
tit

,survived,pclass,age,sibsp,parch,fare,adult_male,alone,age_missing,sex_male,class_Second,class_Third,embarked_Q,embarked_S,who_man,who_woman
0,0,3,22.0,1,0,7.2500,True,False,0,True,False,True,False,True,True,False
1,1,1,38.0,1,0,71.2833,False,False,0,False,False,False,False,False,False,True
2,1,3,26.0,0,0,7.9250,False,True,0,False,False,True,False,True,False,True
3,1,1,35.0,1,0,53.1000,False,False,0,False,False,False,False,True,False,True
4,0,3,35.0,0,0,8.0500,True,True,0,True,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,True,True,0,True,True,False,False,True,True,False
887,1,1,19.0,0,0,30.0000,False,True,0,False,False,False,False,True,False,True
888,0,3,21.5,1,2,23.4500,False,False,1,False,False,True,False,True,False,True
889,1,1,26.0,0,0,30.0000,True,True,0,True,False,False,False,False,True,False
890,0,3,32.0,0,0,7.7500,True,True,0,True,False,True,True,False,True,False

In [ ]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression(max_iter=1000)
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

In [ ]:
from sklearn.metrics import accuracy_score
y_pred=model.predict(X_test)
accuracy=accuracy_score(Y_test,y_pred)
print(f'accuracy: {accuracy}')

accuracy: 0.8258426966292135

In [ ]:
print(y_pred,Y_test)

[0 1 1 0 1 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1
 1 0 0 0 1 0 0 0 0 1 0 0 1 1 1 0 0 1 1 1 0 0 0 0 1 1 0 1 0 0 0 1 1 0 1 1 0
 1 1 0 0 1 0 1 1 1 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0
 1 0 1 0 0 0 0 1 0 1 1 0 0 1 1 0 1 1 0 1 0 0 0 1 1 0 1 1 1 1 0 1 0 1 0 0 1
 0 1 0 1 0 1 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 1 1 1 1 0 1 0 0 1] 281    0
435    1
39     1
418    0
585    1
      ..
433    0
807    0
25     1
85     1
10     1
Name: survived, Length: 178, dtype: int64