<a href="https://colab.research.google.com/github/sivaa2308/ML-Projects/blob/main/Notebooks/ml5_house_pricing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import pandas as pd

train_url = "http://d2l-data.s3-accelerate.amazonaws.com/kaggle_house_pred_train.csv"
test_url = "http://d2l-data.s3-accelerate.amazonaws.com/kaggle_house_pred_test.csv"

df_train = pd.read_csv(train_url)
df_test = pd.read_csv(test_url)

print(df_train.shape)  # Expect (1460, 81)
print(df_train.head())

(1460, 81)
   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]

In [ ]:
df_train.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [ ]:
df_train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [ ]:
missing = df_train.isna().sum()
missing = missing[missing != 0].sort_values(ascending=False)
print(missing)

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
MasVnrType       872
FireplaceQu      690
LotFrontage      259
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
BsmtExposure      38
BsmtFinType2      38
BsmtQual          37
BsmtCond          37
BsmtFinType1      37
MasVnrArea         8
Electrical         1
dtype: int64

In [ ]:
X=df_train.drop('SalePrice', axis=1)
Y=df_train['SalePrice']

In [ ]:
from sklearn.model_selection import train_test_split
x_train , x_valid , y_train , y_valid = train_test_split(X,Y,test_size=0.2,random_state=42)

In [ ]:
numeric_cols=x_train.select_dtypes(include=np.number).columns.tolist()
categorical_cols=x_train.select_dtypes(exclude=np.number).columns.tolist()
len(numeric_cols)

37

In [ ]:
len(categorical_cols)

43

In [ ]:
from sklearn.impute import SimpleImputer

num_imputer = SimpleImputer(strategy='mean')
cat_imputer = SimpleImputer(strategy='most_frequent')

x_train_num = num_imputer.fit_transform(x_train[numeric_cols])
x_valid_num = num_imputer.transform(x_valid[numeric_cols])

x_train_cat = cat_imputer.fit_transform(x_train[categorical_cols])
x_valid_cat = cat_imputer.transform(x_valid[categorical_cols])

In [ ]:
x_train_num

array([[ 255.,   20.,   70., ...,    0.,    6., 2010.],
       [1067.,   60.,   59., ...,    0.,    5., 2009.],
       [ 639.,   30.,   67., ...,    0.,    5., 2008.],
       ...,
       [1295.,   20.,   60., ...,    0.,    4., 2006.],
       [ 861.,   50.,   55., ...,    0.,    6., 2007.],
       [1127.,  120.,   53., ...,    0.,    6., 2009.]])

In [ ]:
x_train_num_df = pd.DataFrame(x_train_num , columns=numeric_cols , index= x_train.index)
x_valid_num_df = pd.DataFrame(x_valid_num , columns=numeric_cols , index= x_valid.index)

x_train_cat_df = pd.DataFrame(x_train_cat , columns=categorical_cols , index=x_train.index)
x_valid_cat_df = pd.DataFrame(x_valid_cat , columns=categorical_cols , index=x_valid.index)

**Hot Encoding**

In [ ]:
x_train_encoded = pd.get_dummies(x_train_cat_df)
x_valid_encoded = pd.get_dummies(x_valid_cat_df)

In [ ]:
x_train_encoded, x_valid_encoded = x_train_encoded.align(
    x_valid_encoded,
    join='left',
    axis=1,
    fill_value=0
)

In [ ]:
x_train_final = pd.concat([x_train_num_df , x_train_encoded] , axis=1)
x_valid_final = pd.concat([x_valid_num_df , x_valid_encoded] , axis=1)

In [ ]:
x_train_final.shape

(1168, 286)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

model = RandomForestRegressor(n_estimators=100 , random_state=42)
model.fit(x_train_final , y_train)

y_pred = model.predict(x_valid_final)
mse = mean_squared_error(y_valid , y_pred)
print(mse)

856897982.4123441

In [ ]:
y_pred

array([141026.5 , 328388.52, 116701.25, 152412.  , 319231.41,  86597.  ,
       207226.2 , 150858.  ,  85491.49, 128377.  , 157164.  , 121035.99,
       113044.5 , 207849.92, 178741.67, 130715.25, 194365.87, 136571.5 ,
       116789.25, 205410.74, 161508.55, 222380.74, 177147.08, 125373.5 ,
       194946.64, 174133.39, 183290.14, 107186.  , 177983.4 , 194722.92,
       121093.5 , 249893.14, 174746.97, 111280.  , 254465.65, 149700.  ,
       139871.28, 205807.94, 311327.65, 105780.46, 122836.5 , 232207.73,
       120548.5 , 359237.17, 135484.5 , 151872.01, 117164.16, 127698.5 ,
       381386.66, 143838.26, 123504.25, 197263.98, 128527.  , 360966.95,
       139348.83, 234355.71, 197775.46, 150237.5 , 146051.87, 113085.63,
        76684.  , 150941.57, 309475.84, 283174.22, 281123.72, 209610.85,
       112170.83, 314750.37, 116025.25, 162386.99, 132079.08, 132787.33,
       112204.  ,  91518.5 , 448079.09, 172598.18, 313985.29, 298316.36,
       138677.75, 124759.  , 100924.54, 104302.  , 127002.75, 103851.57,
       155500.72, 132821.66, 252635.99, 196104.3 , 138683.  , 177132.38,
       144428.64, 162334.85, 121563.6 , 255134.73, 117328.08, 178933.5 ,
       169362.8 , 162840.5 , 219135.78, 239583.24, 176974.  , 208586.14,
       278259.26, 137931.9 , 183437.  , 160658.  , 142767.75, 285522.39,
       142772.5 , 190372.1 ,  61959.5 , 130596.  , 133079.75, 136428.69,
       218625.19, 115763.83, 113934.79, 111646.  , 152758.72, 288398.67,
       147883.96, 141244.6 , 179979.4 , 176100.87, 179932.15, 131501.16,
       241092.28, 113802.  , 148487.6 , 181376.6 , 187895.1 , 364597.59,
       207266.19, 144552.87,  78519.  , 322320.94, 371107.45, 129727.93,
       225879.89, 566645.48, 326169.89, 128239.5 , 180646.25, 161057.  ,
       139201.75, 118831.62, 222475.55, 196804.52, 130583.  ,  72210.54,
       112122.5 , 142492.03, 215002.64, 152672.34, 100624.29, 136030.58,
       138786.06, 152266.07,  88641.5 , 132198.  , 227621.46, 150819.11,
       311446.27, 153178.55, 118974.66, 120701.61, 209452.81, 335883.26,
       414329.83, 225104.42, 362081.77, 100232.  , 129227.76, 162777.32,
       326914.96, 150101.04, 135100.71, 206762.54, 118013.84, 170203.38,
       161321.82,  95050.5 , 137353.52, 136929.42, 261762.76, 154673.55,
       288688.1 , 206790.87, 192493.5 ,  87288.5 , 127678.5 , 118316.25,
       123285.87, 148011.37, 191812.69, 162037.  , 236053.57,  97278.04,
       215054.56, 113671.  , 225954.53, 190004.15, 129822.06, 326214.71,
       192360.4 , 131378.  , 240109.77, 140701.  , 148175.6 , 112882.16,
       230780.01, 145319.32, 121141.08, 159633.52, 178712.56, 279003.31,
       184132.17, 143529.  , 123350.87, 139036.83, 139667.  , 240514.82,
       186638.5 , 104517.5 , 230336.65, 143662.75, 106503.5 , 111676.  ,
       169231.27, 112343.  , 109620.5 , 182059.3 , 119860.33, 141103.25,
       237080.9 , 136481.43, 194196.75, 145721.5 , 251951.13, 121697.99,
       116199.  , 240605.71, 209638.99, 393477.69, 187007.25, 128737.  ,
       159829.84, 159150.5 , 140238.74, 104746.82, 174464.41, 171241.95,
       140587.55, 101165.04, 146016.5 , 142383.75, 115644.53, 108885.38,
       179943.62, 270350.9 , 307770.38, 161609.09, 127745.6 , 221870.42,
       240528.14, 206022.1 , 166262.15, 139820.  , 120845.83, 169372.9 ,
       380194.49, 214574.  , 233668.77, 112036.5 , 104238.64, 138552.6 ,
       138660.75, 328822.01, 188851.  , 146932.24, 211367.04,  96530.  ,
       195564.3 , 109734.87, 319023.58, 176161.45, 223297.38, 120154.75,
       239067.21, 175338.68, 132919.44, 116473.5 ])